body 
{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(black, red);*/
    background-color: #870202;
}

h1
{
	margin: 0;
	color:red;
	text-align:center;
}
h2
{
	margin: 0;
	color:orange;
	text-align:center;
}

a	/* Link */
{
	color:blue;
}

p 
{
    background: #3b0000 ;
    color:white;
	
    margin: 0;
	margin-bottom: 50px;
	margin-top: 150px;
    width: 100%;
	
	padding-top: 20px;
	padding-bottom: 20px;

    border-radius: 5px;
    border: dotted;
    border-color: red;
}

.empty 
{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.emptyTop 
{
    margin-top: 100px;
}
.emptyBottom
{
    margin-top: 200px;
}


header 
{
    background: #999;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQKQahY9MXADEdrVRanpocU3SHOpKc-swLK4YQyxA1YYiFRks5");
	
	position: fixed;
    top: 0;
    width: 100%;
	
    border-radius: 0px;
    border: solid;
    border-color: black;
}
header h1
{
	margin: 0;
	display: inline;
}


.column 
{
  float: center;
  width: 33.33%;
  padding: 5px;
}


nav ul
{
	margin: 0px;
	padding: 0 0 0 15px;
	display: inline;
}

	nav ul li	/* Navigation Button  */
	{
		background:black;
		color: white;
		display: inline-block;
		list-style-type: none;
		padding: 5px 15px;	
	}

		nav ul li a	 /* Navigation Link */
		{
			background:black;
			color: white;
		}


.row
{
    margin:20px;
	color:white;

    border-radius: 0px;
    border: solid;
    border-color: black;
}
    .row:after 
    {
        clear: both;
        content: " ";
        display: table;
    }

.rowImages
{
    margin-top: 20px;
    margin-bottom: 20px;
}
    .rowImages::after 
    {
        clear: both;
        content: " ";
        display: table;
    }

.rowVideos 
{
    margin:10px;
}
    .rowVideos::after 
    {
        clear: both;
        content: " ";
        display: table;
    }

.rowButtons
{
    text-align:center;
	color:white;
	margin: 0 300px 0 300px;
	padding: 5px 5px 5px 5px;
}

.rowDragAndDropBoxes 
{

    text-align: center;
	margin:auto;
	position:center;


}		

.button 
{
    background-color: #870202;
    color: orange;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 15px;
    border: soft;
    border-color: red;
}

.footerbutton 
{
    background-color: #870202;
    color: orange;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;

    border-radius: 15px;
    border: soft;
    border-color: red;
}

.headerBox 
{
    background: black;
    color: white;

	
	margin: 0;
	margin-bottom: 15px;
	margin-top: 15px;
    width: 100%;
	padding-left: 50px;
	
    border-radius: 5px;
    border: soft;
    border-color: gray;
}
.footerBox 
{
    background: black;
    color: white;

	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
    width: 100%;

    border-radius: 5px;
    border: soft;
    border-color: gray;
}

.videoBox 
{
    background: #3b0000 ;
    color: white;
    padding: 10px;
    text-align: left;

    margin-top: 50px;
    margin-bottom: 300px;

    border-radius: 5px;
    border: dotted;
    border-color: red;
}

.buttonBox
{
	margin-bottom:200px;
	text-align: center;
	margin:auto;
	position:center;
	background:black;	
	margin-left:50px;
	margin-right:50px;
	padding-top:15px;
	padding-bottom:15px;
}
.titleBox
{
	margin-top:500px;
	margin-bottom:200px;
	text-align: center;
	margin:auto;
	position:center;
	background:black;	
	margin-left:50px;
	margin-right:50px;
	padding-top:15px;
	padding-bottom:15px;
}



.textBox 
{
    background:white;
    color: black;
    padding: 30px;
    text-align: left;
    margin: 0px 100px 0px 100px;
    margin-top: 50px;

    border-radius: 5px;
    border-width: thick;
    border:dotted;
    border-color: black;
}

    .textBox2
    { 
	    background: #3b0000 ;
	    color:white;
	    padding: 10px;
	    text-align: left;
	    margin-top: 50px;

	    border-radius: 5px;
        border: dotted;
        border-color: red;
    }

	    .textBoxHeaderBox
	    {
		    background:#999;
		    padding: 8px;
	    }

		    .textBoxHeader
		    {
			    background:black;
			    color:white;
			    border-radius: 100px;
			    padding: 2px;
			    text-align:left;
		    }

.hText	/* Biggest Header */
{
	font-size: 32px;
	font-style: bold;
	color:orange;
}
.h2Text	/* Smaller Header */
{
	font-size: 20px;
	font-style: bold;
	color:white;
}

.aText	/* Biggest Header */
{
	font-size: 18px;
	font-style: bold;
	color:#ff5d00;
}
.bText	/* Smaller Header */
{
	font-size: 25px;
	font-style: bold;
	color:#ff5d00;
}


/*  Text Boxes for buttons  */
#myDIV 
{
    display: block;
}
#myDIV2 
{
    display: none;
}
#myDIV3 
{
    display: none;
}
#mapholder 
{
    display: none;
	
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#pandamapholder
{
    display: none;
	
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#answer 
{
    display: none;
}

.maps
{
	text-align: center;
	margin:auto;
	position:center;
	background:black;	
	margin-top:50px;
	margin-left:50px;
	margin-right:50px;
	padding-top:15px;
	padding-bottom:15px;
}


.imgColumn 
{
    float: left;
    width: 33.33%;
    padding: 0px;
}
    .imgColumn:hover 
    {
        -moz-box-shadow: 0 0 10px #ff5d00;
        -webkit-box-shadow: 0 0 10px #ff5d00;
        box-shadow: 0 0 10px #ff5d00;
    }


.videoColumn 
{
    float: left;
    width: 33.33%;
    padding: 0px;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) 
{
    .imgColumn 
    {
        width: 100%;
    }

    .videoColumn 
    {
        width: 100%;
    }
}


/* Email Box */
input[type=text], select, textarea 
{
    width: 100%;
    padding: 2px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
	font-size: 18px;
    margin-top: 1px; 
    margin-bottom: 5px;
    resize: vertical 
}

.EmailContainer
{
	width: 50%;
	margin-top: 150px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
	margin: auto;
    width: 60%;
    border: 5px solid black;
} 

textarea 
{
	margin-top:50px;
	margin-bottom:50px;
	
	font-size:12px;
	
    width: 100%;
    height: 800px;
    padding: 25px 200px;
    box-sizing: border-box;
	
    border: 2px solid #ccc;
    border-radius: 4px;
	border-color: black;
    background-color: #f8f8f8;
    resize: none;
}

/* Table*/
table, th, td 
{
    border: 3px solid #870202;
    border-collapse: collapse;
}
    th, td 
    {
        padding: 5px;
        text-align: left;
    }

/* List*/
li 
{
    font-size: 15px;
}

.dragAndDrop
{
    color:white;
    font-size:18px;
    text-align: center;

    margin: auto;
    position: center;
    background: black;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.dragAndDrop2 
{
    color:white;
    font-size:18px;
    text-align: center;
    margin: auto;
    position: center;
    background: black;
  
    margin-left: 50px;
    margin-right: 50px;
}
#dragAndDropBox1
{
    color:white;
    font-size:18px;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 5px solid orange;
    background-image: url("A.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backround-position: center center;
}
#dragAndDropBox2 
{
    color: white;
    font-size: 18px;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 5px solid orange;
    background-image: url("B.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backround-position: center center;
}
#dragAndDropBox3 
{
    color: white;
    font-size: 18px;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 5px solid orange;
    background-image: url("C.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backround-position: center center;
}
footer
{
	text-align:center;
	color: white;


    position: fixed;
    bottom: 0;
    width: 100%;

	background:black;	/* if not image then black blackground */
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQKQahY9MXADEdrVRanpocU3SHOpKc-swLK4YQyxA1YYiFRks5");
    
    /* Border*/
    border-radius: 0px;
    border: solid;
    border-color: black;
}